<div class="card" style="width: 15%;">
  <img src="../assets/novaldol.png" class="card-img-top" alt="Novaldol">
  <div class="card-body">
    <h5 class="card-title" style="color: #707070;">{{product.title}}</h5>
    <h6 class="card-text" style="color: #707070;">{{product.description}}</h6>
    <div class="prices" *ngIf="!!product.discountPrice">
      <ins>
        <span class="discountPrice">{{product.discountPrice}}<small>EGY</small></span>
      </ins>
      <del>
        <span class="price">{{product.price}}<small>EGY</small></span>
      </del>
    </div>
    <span *ngIf="product.discountPrice == null" class="withoutDiscount">{{product.price}}<small>EGY</small></span>
      <a type="button" class="btn btn-primary"> <i class="bi bi-cart"></i> Add to Cart</a>
  </div>
</div>

