.container-fluid {
    position: relative;
    margin: 20px;   
    opacity: 1;
}

.discountPrice {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 18px/21px var(--unnamed-font-family-helvetica);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-4195d1);
  text-align: right;
  font: normal normal bold 18px/21px Helvetica;
  letter-spacing: 0px;
  color: #4195D1;
  opacity: 1;
}

.price {
    position: relative;
    font: normal normal normal 12px/14px Helvetica;
    letter-spacing: 0px;
    color: #C4C4C4;
    opacity: 1;
  }
  
  .price:before {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    right: 0;
    border-top: 1px solid;
    border-color: inherit;
  
    -webkit-transform:rotate(10deg);
    -moz-transform:rotate(10deg);
    -ms-transform:rotate(10deg);
    -o-transform:rotate(10deg);
    transform:rotate(10deg);
  }

.prices ins {
    color: #4195D1;
    text-decoration: none;
    padding-right: 0.5em;
  }


  .prices del{
    color: grey;
    text-decoration: none;
  }


  #cardButton {
    border-radius: 40px;
    position: relative;
    width: 100%;
    margin-top: 5px;
    background-color: white;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-helvetica);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-4195d1);
font: normal normal normal 20px/24px Helvetica;
letter-spacing: 0px;
color: #4195D1;
    border-color: #4195D1;
    border: 1px solid var(--unnamed-color-4195d1);
    border: 1px solid #4195D1;
    border-radius: 25px;
    opacity: 1;
}

#cardButton:hover{
  background: var(--unnamed-color-6ca9d5) 0% 0% no-repeat padding-box;
  background: #6CA9D5 0% 0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-20)/var(--unnamed-line-spacing-24) var(--unnamed-font-family-helvetica);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
font: normal normal normal 20px/24px Helvetica;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}



.withoutDiscount {
    text-align: right;
    font: normal normal bold 12px/15px Helvetica;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.card {
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
opacity: 1;
}
  

.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper:after {
  content: '';
  display: block;
  padding-top: 80%;
}

.wrapper img {
  max-width: none;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}


.card-body{
  box-shadow: 0 5px 3px rgba(0,0,0,0.16), 0 1px 2px rgba(0, 0, 0, 0.007);
  border: 1pt solid whitesmoke
}

.card-title{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 15px/17px var(--unnamed-font-family-helvetica);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
  text-align: left;
  font: normal normal normal 15px/17px Helvetica;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.card-text{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 10px/11px Arial;
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
  text-align: left;
  font: normal normal normal 10px/11px Arial;
  letter-spacing: 0px;
  color: #707070;
  opacity: 1;
}

.egy{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-16) var(--unnamed-font-family-helvetica);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-4195d1);
text-align: right;
font: normal normal bold 14px/16px Helvetica;
letter-spacing: 0px;
color: #4195D1;
opacity: 1;
}


.card-img-top{
background: transparent 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #0000000A;
border-radius: 10px 10px 0px 0px;
opacity: 1;
}